body{
    background-color: #5adaff;
}
.h1{
    text-align: center;
}

.product_container{
    width: 30%;
    float : left;
    margin:20px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: #f6f6f6;
}

.product_name{
    font-weight: bold;
    font-size: 28px;
    color : #3084bd;
}

.product_image{
    width : 80%;
    margin-left:30px;
}

.product_image img{
    width : 100%;
    aspect-ratio: 1/1;
}

.product_price{
    font-weight: bold;
    font-size: 22px;
    width: 50%;
    float : left;
    margin: 3% 0 0 5%;
    padding: 2%;

}

.button_container{
    text-align: right;
    width: 100%;
    padding: 2%;
}
.buy_now {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    margin-right:8%;
  }

  .buy_now:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }

  .buy_now:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  .buy_now:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }